@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900)

html
  height:800px

img
  width: 100%


h1,
p,
a,
li,
summary
  margin: 0
  padding: 0
  font-family: 'Lato'

ul
  list-style: none

#site-title
  font-size: 2.8em
  padding: 10px 0
  font-weight: 800

#heading-bar 
  width: 100%
  padding: 60px 0
  text-align: center
  background: #33cccc
  color: white

#heading-banner
  width: 100%
  padding: 30px
  background: #333
  margin: 0

#content-area
  overflow-x: hidden
  overflow-y: auto
  height: 800px
  max-width: 65%
  width: 1100px
  margin: 0px
  margin-top: 20px
  float: right
  display: inline-block

#side-menu
  overflow-x: hidden
  overflow: auto

#title
  width: 100%
  text-align: center

#logo
  width: 200px

#tree-view
  overflow-x: hidden
  overflow-y: auto
  height: 800px
  max-width: 30%
  width: 1100px
  float: left
  display: inline-block
  margin: 0px
  margin-top: 20px
  padding-top: 20px
  padding-right: 20px
  width: 30%
  max-width: 30%
  margin: 0
  font: 10pt
  display: inline-block
  float: left
  background: #76717113

summary
  cursor: pointer
  padding-top: 10px
  padding-bottom: 10px

summary:hover 
  background-color:#C0e0ff
  transition-duration: 0.2s

summary .icon
  width: 20px
  height: 20px

summary:only-child::-webkit-details-marker
  color: transparent

details details 
  margin-left: 10pt
  display: block

#display 
  display: inline-block
  vertical-align: top

summary::-webkit-details-marker
  background-image: url("../images/generic-site/Folder-Generic.png")
  width: 16px
  height: 16px
  color: transparent
