@import "variables"

body
  height: 100%
  margin: 0
  position: relative
  min-height: 100%


.skip-link
  position: absolute
  left: -999em
  width: 100%

  &:active, &:focus
    left: 0
    border: 3px #3399cc solid
    background-color: #fff


