@import "../styles/global"

.tag
  display: inline-block
  text-align: center
  list-style: none
  margin-left: 10px
  border-bottom: unset

  a
    padding: 8px
    color: $colour-tag-text
    background-color: $colour-tag-bg

    &:hover
      color: $colour-tag-text-hover
      background-color: $colour-tag-bg-hover


.content
  padding-left: 20px
  padding-right: 20px
