@import "../styles/global"

header
  border-bottom: 1px solid $colour-header-border
  background-color: $colour-header-bg
  padding: 10px

  img
    max-width: unset
    float: left
    max-height: 80px
    box-shadow: unset
    padding: 0px 30px 0px 30px

  h1
    padding-top: unset
    a
      color: $colour-header-text !important
      text-decoration: none

  div[role=doc-subtitle]
    color: $colour-header-text !important
    margin-left: 0.8rem
    min-height: 23px
